* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: red solid 1px; */
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header,
.hero {
    background-color: #1F2937;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    list-style: none;
    font-size: 18px;
    gap: 20px;
}

.links a{
    text-decoration: none;
    color: #E5E7EB;
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 120px 0;
}

.container .left {
    flex: 1;
    gap: 20px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero .container .left p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

button {
    background-color: #3882F6;
    padding: 10px 40px;
    border-radius: 8px;
    border: none;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bolder;
}

.placeholder {
    width: 600px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-shrink: 0;
}

.info .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0 120px 0;
}

.container h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 40px;
}

.cards {
    display: flex;
    gap: 50px;
}

.card1, 
.card2,
.card3,
.card4 {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    text-align: center;
}

.card1 span,
.card2 span,
.card3 span,
.card4 span {
    display: inline-block;
    height: 150px;
    width: 150px;
    border: #3882F6 solid 4px;
    border-radius: 16px;
}

.quote {
    background-color: #E5E7EB;
}

.quote .container {
    display: flex;
    flex-direction: column;
    max-width: 850px;
    padding: 120px 0px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
}

.name {
    align-self: flex-end;
    font-weight: bold;
    font-size: 31px;
}

.cta {
    padding: 120px 0px;
}

.cta .container {
    display: flex;
    background-color: #3882F6;
    border-radius: 16px;
    justify-content: center;
    padding: 60px 0px;
}

.cta-container {
    display: flex;
    width: 100%;
    max-width: 850px;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    font-size: 18px;
}

.cta-container .left{
    max-width: fit-content;
    padding: 0px;
    margin: 0px;
}

.right button{
    border: #F9FAF8 solid 2px;
}